extends /_include/_layout.pug

block title
  title 指定收货地址 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '指定收货地址',
        href: '/ec/cart/ship/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.lc-contentSection
    h1.lc-contentSection__title.lc-contentSection__title--center 指定收货地址

    - var step = 2;
    include /_include/_steplist.pug

    div.lc-contentsInner
      form(action="/ec/cart/addition/", method="POST")

        p.lc-contentSection__note 请选择收货地址，然后继续下一步。
        
        section.lc-shipList
          h2.lc-shipList__title 收货地址一览
          ul.lc-shipList__list
            li.lc-shipList__item
              input#shipRadio1(type="radio", name="radio1", checked)
              .lc-shipList__box
                label(for="shipRadio1").lc-shipList__main
                  header.lc-shipList__header
                    h3.lc-shipList__name
                      i.c-inputUI.c-inputUI--checkbox
                      | 星野 翔太
                      small (会员注册住址)
                    p.lc-shipList__tel
                      | 09012345678
                  p.lc-shipList__address
                    | 171-0033
                    | 東京都豊島区高田3ー9−7 ダイワビル
                p.lc-shipList__controls
                  a(href="/ec/consumer/edit/").lc-button--edit
                    span.lc-button__label 更改
            li.lc-shipList__item
              input#shipRadio2(type="radio", name="radio1")
              .lc-shipList__box
                label(for="shipRadio2").lc-shipList__main
                  header.lc-shipList__header
                    h3.lc-shipList__name
                      i.c-inputUI.c-inputUI--checkbox
                      | 星野 翔太
                    p.lc-shipList__tel
                      | 02160206756
                  p.lc-shipList__address
                    | 上海市黄浦区淮海中路222号力宝广场26楼
                p.lc-shipList__controls
                  a(href="").lc-button--edit
                    span.lc-button__label 更改
                  a(href="/ec/consumer/address/add/").lc-button--delete
                    span.lc-button__label 删除
            li.lc-shipList__item
              a(href="/ec/consumer/address/add/").lc-shipList__box.lc-shipList__box--button
                i.lc-icon--plus
                | 追加新收货地址
            li.lc-shipList__item
              input#shipRadio3(type="radio", name="radio1")
              .lc-shipList__box
                label(for="shipRadio3").lc-shipList__main
                  h3.lc-shipList__name
                    i.c-inputUI.c-inputUI--checkbox
                    | 指定多个收货地址
            
        p.lc-contentsInner__buttons
          button.lc-button--submit
            span.lc-button__label 下一步
            i.lc-button__icon.lc-icon--arrow2Right
          button(type="button", onclick="history.back();").lc-button--cancel
            i.lc-button__icon.lc-icon--arrowLeft
            span.lc-button__label 返回
