{# Modal: Notice #}
<div class="lc-modal" id="modalNotice">
  <div class="lc-modal__bg js-lc--closeModal"></div>
  <div class="lc-modal__body">
    <p class="js-lc--modalNotice lc-align--center"></p>
    <p class="lc-modal__buttons">
      <button class="lc-button--cancel js-lc--closeModal" type="button"><i class="lc-button__icon lc-icon--close"></i><span class="lc-button__label">close</span></button>
    </p>
  </div>
</div>

{# Modal: Confirm #}
<div class="lc-modal" id="modalConfirm">
  <div class="lc-modal__bg js-lc--closeModal"></div>
  <div class="lc-modal__body">
    <p class="js-lc--modalConfirm lc-align--center"></p>
    <p class="lc-modal__buttons">
      <button class="lc-button--submit js-lc--submitModalConfirm" type="button"><span class="lc-button__label">OK</span><i class="lc-button__icon lc-icon--check"></i></button>
      <button class="lc-button--cancel js-lc--closeModal" type="button"><i class="lc-button__icon lc-icon--close"></i><span class="lc-button__label">Cancel</span></button>
    </p>
  </div>
</div>

<script>
$(function () {
  var $window = $(window);

  // novalidate form
  $('form').prop('novalidate', true);

  //==========================================================
  // Modal
  //==========================================================
  
  /**
   * global function: open modal
   * @param {jQuery} $targetModal - target modal jQuery object
   */
  window.openModal = function ($targetModal) {
    $targetModal.addClass('is-active');
    $targetModal.find('.lc-modal__body').css({
      top: ($window.scrollTop() + 60) + 'px'
    });
  }

  $('.js-lc--openModal').on('click', function() {
    openModal($('#' + $(this).attr('aria-controls')));
    return false;
  });
  $('.js-lc--closeModal').on('click', function () {
    $('.lc-modal').removeClass('is-active');
  });

  // open modal of notice
  var $modalNotice = $('.lc-modal#modalNotice');
  /**
   * global function: open modal of notice
   * @param {String} notice - notice text
   * @param {Number} autoCloseTime - timeout time of modal. If is undefined the value, not close modal
   */
  window.openModalNotice = function (notice, autoCloseTime) {
    $('.lc-modal').removeClass('is-active');
    $modalNotice.find('.js-lc--modalNotice').html(notice);
    openModal($modalNotice);
    if (autoCloseTime) {
      setTimeout(function () {
        $modalNotice.removeClass('is-active');
      }, autoCloseTime);
    }
  }

  // open modal of confirm
  var $modalConfirm = $('.lc-modal#modalConfirm');
  /**
   * global function: open modal of confirm
   * @param {String}   confirmMessage   - confirm text (default: confirm delete)
   * @param {Function} onConfirm - callback on confirm
   */
  window.openModalConfirm = function (confirmMessage, onConfirm) {
    confirmMessage = confirmMessage ? confirmMessage : '{{ #message_confirm_delete# | raw }}<br><br>';
    $('.js-lc--submitModalConfirm').off('click');
    $('.lc-modal').removeClass('is-active');
    $modalConfirm.find('.js-lc--modalConfirm').html(confirmMessage);
    openModal($modalConfirm);
    $('.js-lc--submitModalConfirm').on('click', function () {
      onConfirm();
      $modalNotice.removeClass('is-active');
    });
  }

  //==========================================================
  // Tab
  //==========================================================
  if ($('.lc-tab[role="application"]').length) {
    $('.lc-tab[role="application"]').each(function () {
      var $wrapper = $(this);
      var $tab = $wrapper.find('.lc-tab__tab');
      var $tabPanel = $wrapper.find('.lc-tab__panel');
      $tab.on('click', function () {
        var $currentTab = $(this);
        $tab.removeClass('is-active');
        $tabPanel.removeClass('is-active');
        $currentTab.addClass('is-active');
        $('#' + $currentTab.attr('aria-controls')).addClass('is-active');
      });
    });
  };

  //==========================================================
  // Forms
  //==========================================================
  var $form__items = $('.lc-form__item');
  if ($form__items.length) {
    $form__items.each(function (index, form__item) {
      var $form__item = $(form__item);
      var $label = $form__item.find('.lc-form__label');
      var $input = $form__item.find('input, select, textarea');
      if ($form__item.find('.error').length) {
        $label.addClass('is-errored');
      }
      $input.on('focus', function () {
        $label.addClass('is-focused');
      }).on('blur', function () {
        $label.removeClass('is-focused');
      });
    });
  }

  //==========================================================
  // Favorites
  //==========================================================
  {% if is_authorized() -%}
    var favorites = [
      {%- if (app.security.token.user.favorites|length) -%}
        {%- for favorite in app.security.token.user.favorites -%}
          {{ favorite.product.id }}
        {% if not loop.last %},{% endif %}
        {%- endfor -%}
      {%- endif -%}
    ];
    $('.js-lc--favorite').each(function () {
      var $toggleFavorite = $(this);
      if (favorites.indexOf(Number($toggleFavorite.attr('data-product-id'))) > -1) {
        $toggleFavorite.addClass('is-active');
      } else {
        $toggleFavorite.removeClass('is-active');
      }
      $toggleFavorite.on('click', function () {
        var $trigger = $(this);
        if ($trigger.hasClass('is-active')) {
          $.ajax({
            type: 'GET',
            url: $trigger.attr('data-delete-href'),
          }).done(function (data, textStatus, jqXHR) {
            if (textStatus == 'success') {
              $trigger.removeClass('is-active');
              openModalNotice('Removed from Favorites.', 1500);
            }
          }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus + ': ' + errorThrown);
            openModalNotice("I'm sorry, failed add the product to favorites.", 1500);
          });
        } else {
          $.ajax({
            type: 'GET',
            url: $trigger.attr('data-add-href'),
          }).done(function (data, textStatus, jqXHR) {
            if (textStatus == 'success') {
              $trigger.addClass('is-active');
              openModalNotice('Added from Favorites.', 1500);
            }
          }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus + ': ' + errorThrown);
            openModalNotice("I'm sorry, failed remove the product from favorites.", 1500);
          });
        }
      });
    });
  {%- endif -%}{# is_authorized() #}
});


//==========================================================
// Global: format number
//==========================================================
function price_format(num, decimalPoint) {
  return number_format(Math.floor(num * Math.pow(10, decimalPoint)) / Math.pow(10, decimalPoint));
}
function number_format (num) {
  var parts = num.toString().split('.');
  parts[0] = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
  return parts.join('.');
}
</script>