<li class="mainvisual__item">
  <a href="/page/2">
    <figure class="mainvisual__figure"><img src="{{ asset('assets/img/hero_top_01.jpg') }}" alt="***"/></figure>
    <div class="mainvisual__text">
      <p class="mainvisual__catch">
        <em>{{ #catch_text# }}</em><br>
        LC E-SHOP
      </p>
      <p class="mainvisual__copy">{{ #copy_text# | raw }}</p>
    </div>
  </a>
</li>
<li class="mainvisual__item">
  <a href="/product/1/">
    <figure class="mainvisual__figure"><img src="{{ asset('assets/img/hero_top_02.jpg') }}" alt="***"/></figure>
    <div class="mainvisual__text">
      <p class="mainvisual__catch">
        <em>{{ #catch_text# }}</em><br>
        LC E-SHOP
      </p>
      <p class="mainvisual__copy">{{ #copy_text# | raw }}</p>
    </div>
  </a>
</li>