
nav.lc-mypageNavi
  h2.lc-mypageNavi__title 个人主页菜单
  ul.lc-mypageNavi__list
    li.lc-mypageNavi__item
      a(href="/ec/consumer/history/")
        span.lc-button__label 购买记录
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/ec/consumer/point_history/")
        span.lc-button__label 积分纪录
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/ec/consumer/favorite_list/")
        span.lc-button__label 我的最爱一览
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/ec/consumer/review_list/")
        span.lc-button__label 评价一览
        i.lc-button__icon.lc-icon--arrowRight
  h3.lc-mypageNavi__subTitle 顾客信息
  ul.lc-mypageNavi__list
    li.lc-mypageNavi__item
      a(href="/ec/consumer/edit/")
        span.lc-button__label 修改注册资料
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/ec/consumer/address/list/")
        span.lc-button__label 送货地址
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/ec/consumer/card/add/")
        span.lc-button__label 信用卡信息确认
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/")
        span.lc-button__label 登出
        i.lc-button__icon.lc-icon--arrowRight
    li.lc-mypageNavi__item
      a(href="/ec/consumer/withdraw/")
        span.lc-button__label 取消会员
        i.lc-button__icon.lc-icon--arrowRight