extends /_include/_layout.pug

block title
  title 定期订购记录 | LC E-SHOP
block header
  - var isAuthorized = true;
  include /_include/_header.pug
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '我的帳戶',
        href: '/ec/consumer/history/'
      },
      {
        name: '定期订购记录',
        href: '/ec/consumer/regular_list/'
      },
      {
        name: '详细信息',
        href: '/ec/consumer/regular_detail/1/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.lc-contentSection
    h1.lc-contentSection__title.lc-contentSection__title--center 定期订购记录

    div.lc-contentsInner
        
        table.lc-table.lc-table--numbers
          tbody
            tr
              th 日期
              td
                em 2019/10/2
            tr
              th 订单编号
              td
                em 124
            tr
              th 发货次数
              td
                em 2
            tr
              th 自动下单的状态
              td
                em 继续
            tr
              th 送货时间间隔
              td
                em 1月次
            tr
              th 下次预定到达的日期
              td
                em 2019/11/19

        section.lc-shipList
          h2.lc-shipList__title 收货地址一览
          ul.lc-shipList__list
            li.lc-shipList__item
              .lc-shipList__box
                .lc-shipList__main
                  header.lc-shipList__header
                    h3.lc-shipList__name 星野 翔太
                    p.lc-shipList__tel 09012345678
                  p.lc-shipList__address
                    | 171-0033
                    | 東京都豊島区高田3ー9−7 ダイワビル
                p.lc-shipList__controls
                  a(href="/ec/consumer/regular_address_edit/1/").lc-button--edit
                    span.lc-button__label 更改
                .lc-shipList__main
                  ul.lc-list
                    li.lc-productInfo
                      figure.lc-productInfo__figure
                        a.lc-productInfo__figure__inner(href="/product/1/")
                          img(src="/assets/img/img_product_02.jpg", alt="product name")
                      .lc-productInfo__text
                        h2.lc-productInfo__name
                          a(href="/product/1/") 小熊夏季新款女装可爱卡通短袖t恤宽松韩版半袖
                        .lc-productInfo__detail
                          dl.lc-productInfo__detail__list
                            .lc-productInfo__detail__item
                              dt.lc-productInfo__detail__label 价格
                              dd.lc-productInfo__detail__detail
                                | 159.00CNY
                                small (2,393JPY)
                            .lc-productInfo__detail__item
                              dt.lc-productInfo__detail__label 数量
                              dd.lc-productInfo__detail__detail 1
        
        h2.lc-heading--3 付款方式
        p credit

        h2.lc-heading--3 其他咨询
        p 不指定

        p.lc-contentsInner__buttons.lc-contentsInner__buttons--horizontal
          a(href="/ec/consumer/regular_edit/1/").lc-button--submit
            span.lc-button__label 更改定期订购
          a(
            href="", 
            aria-controls="modalCancelRegular"
            aria-haspopup="true"
          ).lc-button--submit.js-lc--openModal
            i.lc-button__icon.lc-icon--close
            span.lc-button__label 取消
        p.lc-contentsInner__buttons.lc-contentsInner__buttons--horizontal
          a(href="/ec/consumer/regular_list/").lc-button--cancel
            i.lc-button__icon.lc-icon--arrowLeft
            span.lc-button__label 返回

    include /_include/_mypage-navi.pug

  .lc-modal#modalCancelRegular
    .lc-modal__bg.js-lc--closeModal
    .lc-modal__body
      h3.lc-modal__title 要取消吗？
      p.lc-modal__buttons
        a(href="").lc-button--submit.js-lc--changeLangCurrency
          span.lc-button__label OK
          i.lc-button__icon.lc-icon--check
        button(type="button").lc-button--cancel.js-lc--closeModal
          i.lc-button__icon.lc-icon--arrowLeft
          span.lc-button__label 返回
