extends /_include/_layout.pug

block title
  title 新会员注册 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '注册',
        href: '/auth/regist/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.lc-contentSection
    h1.lc-contentSection__title.lc-contentSection__title--center 注册

    .lc-tab.lc-tab--form
      .lc-tab__list
        a.lc-tab__tab(href="/auth/login/") 登入
        .lc-tab__tab.is-active 注册
      .lc-tab__panel.is-active
        p.lc-contentSection__note.lc-contentSection__note--center 请输入下列所有项目（<i class="is-required"></i>必填）
        form(action="/auth/regist/confirm/", method="POST")
          ul.lc-form
            li.lc-form__item
              .lc-form__columns
                .lc-form__column
                  label.lc-form__label
                    h4.lc-form__title.is-required 姓
                    p.lc-form__detail
                      input(type="text")
                .lc-form__column
                  label.lc-form__label
                    h4.lc-form__title.is-required 名
                    p.lc-form__detail
                      input(type="text")
            li.lc-form__item
              label.lc-form__label.lc-form__label--half
                h4.lc-form__title.is-required 出生日期
                p.lc-form__detail
                  input(type="date")
            li.lc-form__item
              label.lc-form__label.lc-form__label--half
                h4.lc-form__title.is-required 手机号码
                p.lc-form__detail
                  input(type="text")
            li.lc-form__item
              label.lc-form__label
                h4.lc-form__title.is-required 電子信箱
                p.lc-form__detail
                  input(type="text")
            li.lc-form__item
              .lc-form__label.lc-form__label--plain
                h4.lc-form__title.is-required 送信方法
                p.lc-form__detail
                  input#radio_1_1(type="radio", name="radio1", checked)
                  label(for="radio_1_1") 电子邮件
                  input#radio_1_2(type="radio", name="radio1")
                  label(for="radio_1_2") SMS
                  input#radio_1_3(type="radio", name="radio1")
                  label(for="radio_1_3") MMS
            li.lc-form__item
              label.lc-form__label.lc-form__label--select
                h4.lc-form__title.is-required 国家
                p.lc-form__detail
                  select
                    option 请选择国家或地区
                    option china
            li.lc-form__item
              label.lc-form__label.lc-form__label--half
                h4.lc-form__title.is-required 邮编号码
                p.lc-form__detail
                  input(type="text")
            li.lc-form__item
              label.lc-form__label
                h4.lc-form__title.is-required 省市县乡镇村
                p.lc-form__detail
                  input(type="text")
            li.lc-form__item
              label.lc-form__label
                h4.lc-form__title.is-required 详细地址
                p.lc-form__detail
                  input(type="text")
            li.lc-form__item
              .lc-form__columns
                .lc-form__column
                  label.lc-form__label
                    h4.lc-form__title.is-required 密码
                    p.lc-form__detail
                      input(type="text")
                .lc-form__column
                  label.lc-form__label
                    h4.lc-form__title.is-required 确认密码
                    p.lc-form__detail
                      input(type="text")
            li.lc-form__item
              .lc-form__label.lc-form__label--plain
                h4.lc-form__title.is-required 会员限定服务
                p.lc-form__detail
                  input#radio_2_1(type="radio", name="radio2", checked)
                  label(for="radio_2_1") 希望
                  input#radio_2_2(type="radio", name="radio2")
                  label(for="radio_2_2") 不希望
          p.lc-contentSection__note.lc-contentSection__note--center 
            input#checkbox_1.js-confirmConsent(type="checkbox")
            label(for="checkbox_1") 同意隐私政策

            a(hre="").lc-button--cancel.js-lc--closeModal
              span.lc-button__label 隐私政策
              i.lc-button__icon.lc-icon--arrowRight
                  
          p.lc-contentsInner__buttons
            button(type="submit").lc-button--submit
              span.lc-button__label 确认
              i.lc-button__icon.lc-icon--arrowRight
          
          script.
            $(function () {
              if ($('.js-confirmConsent').length) {
                var $confirmConcent = $('.js-confirmConsent');
                var $form = $confirmConcent.closest('form');
                var $submit = $form.find(':submit');
                confirmConcent();
                $confirmConcent.on('change', function () {
                  confirmConcent();
                })
                function confirmConcent () {
                  $submit.prop('disabled', !$confirmConcent.prop('checked'));
                }
              }
            });
    

