extends /_include/_layout.pug

block title
  title 注册 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '注册',
        href: '/auth/regist/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.lc-contentSection
    h1.lc-contentSection__title.lc-contentSection__title--center 注册

    div.lc-contentsInner.lc-contentsInner--form

      form(action="/auth/regist/complete/", method="POST")

        table.lc-table.lc-table--wide
          tr
            th 姓名
            td 星野 翔太
          tr
            th 出生日期
            td 1985-04-10
          tr
            th 手机号码
            td 02160206756
          tr
            th 電子信箱
            td info@sterfield.co.jp
          tr
            th 送信方法
            td 电子邮件
          tr
            th 地址
            td 上海市黄浦区淮海中路222号力宝广场26楼
          tr
            th 密码
            td ********
          tr
            th 会员限定服务
            td 希望
          
        p.lc-contentsInner__buttons
          button(type="submit").lc-button--submit
            span.lc-button__label 登入
            i.lc-button__icon.lc-icon--check
          button(type="button", onclick="history.back();").lc-button--cancel
            i.lc-button__icon.lc-icon--arrowLeft
            span.lc-button__label 修改
    

