{# Reference: https://launchcart.jp/reference/4%e4%bc%9a%e5%93%a1%e7%99%bb%e9%8c%b2%e5%ae%8c%e4%ba%86/ #}

{# Variables Settings #}

{# insert to html head title #}
{%- set title = #regist_complete# -%}

{# end Variables Settings #}

{% TemplateInclude "header" %}

{# Contents #}

{# Breadcrumb list (this variable setting method is written in module template "breadcrumb list") #}
{%- set breadcrumbList = [] -%}
{%- set breadcrumbListItem = {
    name: #regist_complete# ,
    href: app.request.uri
  }
-%}
{%- set breadcrumbList = breadcrumbList|merge([breadcrumbListItem]) -%}
{% TemplateInclude "breadcrumb list" %}

<section class="lc-contentSection">
  <h1 class="lc-contentSection__title lc-contentSection__title--center">{{ #regist_complete# }}</h1>
  <div class="lc-contentsInner lc-contentsInner--form">
    <p class="lc-contentSection__note lc-contentSection__note--center lc-contentSection__note--large">{{ #thanks_for_registration# }}</p>
    <p class="lc-contentsInner__buttons"><a class="lc-button--cancel" href="{{ path('homepage') }}"><i class="lc-button__icon lc-icon--arrowLeft"></i><span class="lc-button__label">{{ #back_to_top# }}</span></a></p>
  </div>
</section>

{# end Contents #}

{% TemplateInclude "footer" %}